.card-in{
    padding: 0px 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 100px;
}

@media screen and (max-width: 1200px) {
    .card-in{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .card-in{
        padding: 0 25px;
        max-width: 100%;
        grid-template-columns: 1fr;
        padding-bottom: 100px;
    }
}